body{
  background-color: rgb(252, 220, 173);
}

ul{
  list-style-type: none;
}

header img{
  border-style: solid;
  border-width: 5px;
  background-color: rgb(223, 181, 118);
}

main li{
  border-top: solid;
  border-bottom: solid;
}

header ul, footer, aside{
  border-style: solid;
  border-width: 3px;
  background-color: rgb(223, 181, 118);
}

header .bordure{
  border-left: solid;
  border-right: solid;
  border-width: 3px;
}

h1{
  font-size: 200%;
}

aside article, aside h3{
  background-color: rgba(181, 233, 253, 0.534);
}



