
header ul{
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  padding: 0;
  flex-basis: 1%;
  flex-grow: 1;
}

header li{
  flex-grow: 1;
  text-align: center;
}

header li a{
  text-decoration: none;
  color: black;
}

header img{
  width: 98vw;
}

main{
  display: flex;
  flex-wrap: wrap;
}

main ul{
  flex-basis: 79%;
  padding: 0px;
}

aside{
  flex-basis: 1%;
  flex-grow: 1;
}

main li{
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 5vh;
  margin-right: 3vw;
}

main li img{
  height: 30vh;
}

main li:nth-child(odd){
  flex-direction: row-reverse;
}

main li p, main li h1, main li img{
  margin-right: 0.5vw;
  margin-left: 0.5vw;
  text-align: justify;
}

main li h2{
  flex-basis: 60%;
}

h1{
  margin-top: 0;
}

aside{
  margin-bottom: 3vh;
  padding-left: 1vw;
}

aside article{
  display: flex;
  flex-wrap: wrap;
}

aside p{
  padding-left: 1vw;
}

aside section{
  border-bottom: solid;
  border-width: 1px;
}

aside h3{
  font-size: 110%;
  padding-left: 1vw;
  padding-top: 1vh;
  flex-basis: 100%;
  margin-bottom: 0;
}

article img{
  width: 100%;
  height: 100%;
  padding-bottom: 1vh;
  flex-basis: 18%;
}

aside article p{
  flex-grow: 1;
  padding: 0.5vw;
  padding-top: 2.5vh;
  margin: 0;
}

footer{
  flex-basis: 1%;
  flex-grow: 1;
}